.Cell {
    height: 30px;
    width: 30px;
    border-style: solid;
    float: left;
    margin: 0.5px;
    text-align: center;
}

.MineText {
    vertical-align: middle;
}

.row {
    display: block;
}

.Hidden {
    background-color: grey;
    color: transparent;
}

.Visible {
    background-color: white;
    color: black;
}

.Flagged {
    background-color: blue;
}